## Basic Types

In [ ]:
int_var = 5
int_var
type(int_var)

In [ ]:
float_var = 2.5
type(float_var)

In [ ]:
string_var = "hello"
type(string_var)

In [ ]:
bool_var = True
type(bool_var)

In [ ]:
some_string_holding_an_int = "10"
int(some_string_holding_an_int)

## BuiltInFunctions

In [ ]:
print("Hello John", "How are you?", sep = '\n', end = "**")

In [ ]:
len("abc")

In [ ]:
min(1, 3, 2.4, 5, 3, 6.54, 85, -5)

In [ ]:
max(1, 5, 1, 23, 51752.55, 17, 1, 5, 15, 2, -54, 2, -155)

In [ ]:
abs(-100)

In [ ]:
round(3.141563638,ndigits=3)

In [ ]:
sorted("abcdef", reverse = True)

In [ ]:
string_var = "HELLO mATT, How are YOU?"

print(string_var.lower())
print(string_var.upper())
print(string_var.capitalize())

In [ ]:
type(string_var)

## List [ ]

In [ ]:
empty_list = []
print(type(empty_list))

empty_list

In [ ]:
int_list = [1, 5, 4, 3, 2]

print(int_list)
print(sorted(int_list))

string_list=['aa','vv', 'gf', 'y' , 'cc']
print(sorted(string_list))

In [ ]:
mixed_list = [5, "Hello", True, 2.555]

print(mixed_list)

print(mixed_list[2])

print(len(mixed_list))

mixed_list[2] = False

print(mixed_list)

In [ ]:
mazda_cars = ["Mazda CX5","Mazda CX3","Mazda CX30","Mazda 3"]

last_index = len(mazda_cars) - 1
print(mazda_cars[last_index])
print(mazda_cars[-1])

mazda_cars.append("Mazda BT50")
print(mazda_cars)

mazda_cars.insert(4, "Mazda CX9")
print(mazda_cars)


print("index number of Mazda BT50 is", mazda_cars.index("Mazda BT50"))

mazda_cars.remove("Mazda BT50")
print(mazda_cars)

popped_car = mazda_cars.pop()
print('Popped Car', popped_car)
print(mazda_cars)

In [ ]:
mazda_cars.sort()
mazda_cars

In [ ]:
mazda_cars.reverse()
mazda_cars

In [ ]:
totoya_cars=['Hilux', 'Yaris', 'Corollo']

cars= mazda_cars + totoya_cars
cars

In [ ]:
cars_hard_copy = cars.copy()

In [ ]:
cars_shallow_copy = cars;

## Tuples ()

In [ ]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

In [ ]:
dakota_books = ("Dungeon Born", "Dungeon Madness", "Dungeon Desolation")

print(type(dakota_books))
dakota_books[1:3]

In [ ]:
#convert list to tuple

nuts_list = ["wallnut", "peanut", "hazelnut", "chestnut"]

nuts_tuple = tuple(nuts_list)
nuts_tuple

In [ ]:
'wallnut' in nuts_tuple

### Dictionaries {}

In [ ]:
names_and_ages = {"Matt" : 40,"Esra" : 42,"Beyza" : 12,"Su" : 15}

print(names_and_ages)
print(names_and_ages.items())
print(names_and_ages.keys())
print(names_and_ages.values())
print(names_and_ages["Matt"])

In [ ]:
names_and_details = {"Matt" : ('Mercan',40),
                     "Esra" : ('Mercan',42),
                     "Beyza" : ('Mercan',12),
                     "Su" : ('Mercan',15)}

In [ ]:
names_and_details['Matt']

### SET {}

In [ ]:
fruit_set = {"apple", "banana", "cherry"}
print(type(fruit_set))

print(fruit_set)

In [ ]:
mixed_set = {"Matt", "Mercan", 40, 3.14, False}

print(mixed_set)

mixed_set.add("Anadolu")
print(mixed_set)

mixed_set.discard("Anadolu")
print(mixed_set)

mixed_set.discard("Anadolu")
print(mixed_set)

mixed_set.remove("Matt")
print(mixed_set)


another_set = {"Brown", "Blue", "Lucky", 40}

print('union')
print(mixed_set.union(another_set))

print('intersection')
print(mixed_set.intersection(another_set))

print('difference')
print(mixed_set.difference(another_set))

### IF ELSE ELIF

In [ ]:
if 25 > 30:
    print("25 is greater than 30")
else:
    print("nope 25 is not greater than 30")

In [ ]:
math_score = 90

if math_score < 0 or math_score > 100:
    print('Value has provided is not in the range (0-100)',math_score)
elif math_score < 20:
    print("I'm afraid that is not a great score", math_score)

elif math_score < 50:
    print("Oh you can definitely do better than this", math_score)

elif math_score < 80:
    print("Ahh you're close to the highest grade you can get", math_score)

elif math_score <= 100:
    print("You did great at math!", math_score)
else:
    print('you should not be here, Something is wrong',math_score)

In [ ]:
name = 'matt'
surname= 'mercan'

if name == 'matt' and surname == 'mercan':
    print('yes matt')

### Loops

In [ ]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]
for car in classic_cars:
    print(car)

In [ ]:
num_list = [100, 800, 330, 220, 400, 900, 1100]
for num in num_list:
    if num < 500:
        print("<500:", num)
    else:
        print(">=500:", num)

In [ ]:
names_and_ages = {"John" : 53,"Alice" : 57,"Bill" : 14,"Dave" : 25}
for key in names_and_ages:
    print("Name: ", key, "Age: ", names_and_ages[key])

In [ ]:
for key, val in names_and_ages.items():
    print(key, val)

In [ ]:
colors = ["Red", "Yellow", "Blue"]
materials = {"Leather", "Polyester", "Nylon", "Cotton", "Silk"}

for c in colors:
    for m in materials:
        print(c, "<-->", m)

### While

In [ ]:
c = 45

while c < 50:
    print(c)    
    c = c + 1

In [ ]:
vowels = ["a", "e", "i", "o", "u"]

user_input = input("Enter a vowel: ")

while user_input not in vowels:
    print("I'm afraid that is not a vowel, try again")
    
    user_input = input("Enter a vowel: ")
    
print("Thank you for entering a vowel! ", user_input)

### Date

In [ ]:
days = {1:"Monday", 2:"Tuesday", 3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"Saturday"}

In [ ]:
import datetime

In [ ]:
today = days[datetime.date.today().isoweekday()]

for day in days:
    print("Checking: ", days[day])
    if days[day] == today:
        print("This is a valid day of the week!")
        break       
else:
    print("This is not a valid day of the week")

### Break Continue Pass in Loops

In [ ]:
for day in days:
    print("Checking: ", days[day])
    if days[day] == today:
        print("This is a valid day of the week!")
        break       
else:
    print("This is not a valid day of the week")

### Working with Lists

In [ ]:
num_list = [number for number in range(11)]

print(num_list)

In [ ]:
squares_list = [number**2 for number in num_list]

squares_list

In [ ]:
[car for car in ["Phantom","Dawn","Wraith"] \
     if car in ["Phantom","Maybach","E-class","Dawn"]]

In [ ]:
bags = ["handbag", "pouch", "backpack", "duffel bag"]
pockets = [2, 1, 4, 5]
zip(bags, pockets)

In [ ]:
list(zip(bags, pockets))

### Functions

In [ ]:
def calculate_sum(a, b, c):
    result = a + b + c
    return result

In [ ]:
res = calculate_sum(3,6,8)
res

In [ ]:
#imports mydate.py from the current folder
import mydate
mydate.getdate()

In [ ]:
import sys 
sys.path

In [ ]:
# Add src/features folder to sys.path as an absolute path
# to import py files from an another folder
# then import py as regular
import os
featurefolder = os.path.join(os.path.abspath('..'),'src','features')
if(featurefolder not in sys.path):
    sys.path.append(featurefolder)
print(sys.path)

import datecalculate
calculate_sum(3,2,5)

### Importing Module

In [ ]:
import math
print(math.pi)
print(math.e)
print(math.inf)
print(math.ceil(7.8))
print(math.floor(2.9))
float_list = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
print(sum(float_list))
math.fsum(float_list)

print(math.gcd(30, 20))
print(math.gcd(3343, 223))

### Numpy

In [ ]:
# !pip install numpy
import numpy as np
some_list = [1, 2, 3, 4, 5, 6, 7]

print(type(some_list))

# create numpy array from a regular array
some_array = np.array(some_list)

print(type(some_array))
print(some_array)

ones_array = np.ones(5)
print(ones_array)

range_array = np.arange(8)

print(range_array)

reshaped_array = range_array.reshape(4, 2)
print(reshaped_array)

random_array = np.random.random((3, 5))
print(random_array)


mean = np.mean(range_array)
print("mean",mean)


median = np.median(range_array)
print('median',median)


# The variance is the average of the squared deviations from the mean, i.e., 
# var = mean(x), where x = abs(a - a.mean())**2.

var = np.var(range_array)
print('variance',var)

# std = sqrt(mean(x)), where x = abs(a - a.mean())**2.
std = np.std(range_array)
print('standard deviation',std)


# when there are arrays in arays axis is important
print(np.std(random_array, axis=1))

### Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
                    'name': ["John", "Alice", "Bob", "Eileen", "Rob"],
                    'gender': ["Male", "Female", "Male", "Female", "Male"],
                    'age': [45, 20, 30, 14, 67],
                  })
print(df)
print(" \n ========= describe =========")
print(df.describe())

In [ ]:
subset_df = df[['name', 'age']]
subset_df

In [ ]:
groupby_df = df.groupby(by="gender").count()
groupby_df.head()

### Environment Variables

In [ ]:
import os
os.environ

In [ ]:
os.environ['USERNAME']

In [ ]:
import subprocess
# subprocess.call(["ls", "-l"])

In [ ]:
# output = subprocess.check_output(['ls', '-1'])
# print(output)

In [ ]:
from subprocess import Popen, PIPE
process = Popen(['cat', 'modules.txt'], stdout=PIPE, stderr=PIPE,  shell=True)
stdout, stderr= process.communicate()
stdout
stderr

### Files

In [ ]:
import os
os.getcwd()

In [ ]:
# open("nosuchfile.txt")
# open("/Downloads/nosuchfile.txt")

In [ ]:
file = open("../data/raw/data.txt")

print(file)
print(file.read())

# Seek stream to beggining
file.seek(0)

# Read first 5 char
print(file.read(2))
print(file.read(5))

# location on file
file.tell()

file.close()

In [ ]:
file = open("../data/raw/data.txt", mode='r')
print(file.readline())
print(file.readline())
file.seek(0)
print(file.readline())
print(file.readline())

In [ ]:
extra_data = ["Agera", "Regera", "Chiron", "Veyron"]

with open("../data/raw/data.txt", "a") as f:
    for dat in extra_data:
        f.write(dat + "\n")
    more_data = f.write("Matt"+ "\n")
    
    print("Number of characters :", more_data)

In [ ]:

data_specs = []

with open ('../data/raw/data.txt', 'r') as file_again:
    
    for dat in file_again:
        data_specs.append(dat.rstrip("\n"))        
data_specs

#### JSON

In [ ]:
## Import Json
## convert dictionary or an array to a JSON string with json.dumps
## Convert JSON string to Array or dictionary by json.loads

import json

a_json_array =[{'Name':'Oba', 'Age':8.9}, {'Name':'Moje', 'Age':4.5},  {'Name':'Moje', 'Age':4.5}]

dogs_and_ages = {"Oba" : 8.9, "Moje" : 4.5, "Nemo" : 1.25}

json_string = json.dumps(a_json_array)
print(json_string)

dogs_and_ages_dict = json.loads(json_string)

print(type(dogs_and_ages_dict))
print(dogs_and_ages_dict)

with open('../data/raw/dogs_and_ages.json', 'w') as dog_file:
    json.dump(dogs_and_ages_dict, dog_file)

In [ ]:
os.path.exists('/files')

In [ ]:
os.path.exists('../data/raw/data.txt')

In [ ]:
os.path.isfile('../data/raw')

In [ ]:
os.mkdir('../data/raw/new_dir')

!dir "..\data\raw"

os.rmdir('../data/raw/new_dir')

!dir "..\data\raw"

### lambda

In [ ]:
multiply_by_2 = lambda x: x*2

In [ ]:
multiply_by_2(4)